
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page</title>
    @RenderSection("headSection",require)
</head>
<body>
    <div> 
        <table border="2" width="800" align="center"cellspacing="5" cellpadding="5">
            <tr style="background-color:darkslategrey; color:white; text-align:center">
                <td colspan="2">BizRuntime | Bangalore</td>
            </tr>
            <tr height="300">
                <td width="250">
                    <ul>
                        <li>@Html.ActionLink("Home","Home")</li>
                        <li>@Html.ActionLink("About","About")</li>
                        <li>@Html.ActionLink("Contact","Contact")</li>
                    </ul>
                </td>
                <td width="550">
                    @RenderBody()
                </td>
            </tr>
            <tr style="background-color:darkolivegreen;color:white;text-align:center">
                <td>
                    &copy; copyright 2018 <br/>
                    Employees | Projects | Developements
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
